/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.gradient-text {
  background: linear-gradient(
    47deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-btn,
.btn-primary {
  font-size: 16px;
  padding: 12px 16px;
  background: linear-gradient(
    47deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  border-radius: 40px;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

/* nav styles */
header {
  background-color: #1a0b2e;
}
nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.menu {
  display: flex;
  gap: 40px;
}
.brand h2 {
  font-size: 48px;
  font-weight: 800;
}
.brand .wave {
  color: rgb(252, 4, 132);
}
.menu li {
  list-style: none;
}
.hamburger-menu {
  display: none;
}

hr {
  border: 1px solid #230b43;
}
/* banner styles */
.banner {
  background-image: url(../assets/hero-bg.png);
  background-size: contain;
  height: 760px;
  background-repeat: no-repeat;
}

.banner-img {
  width: 350px;
  margin: auto;
  text-align: center;
  padding-top: 90px;
  position: relative;
}
.img-2 img {
  position: absolute;
  top: 40%;
  right: 33%;
}
.tooltip {
  background-color: #00ff88;
  padding: 8px 18px;
  border-radius: 22px;
  border: none;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 22%;
  right: 6%;
}
.banner-content {
  color: white;
  text-align: center;
}
.banner-content h2 {
  color: white;
  font-size: 60px;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 10px;
}
.banner-content p {
  font-size: 16px;
  margin-bottom: 24px;
}
.btn-2 {
  margin-left: 7px;
  background-color: #270c4aa0;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 40px;
  border: none;
  font-weight: 600;
  color: #00ff88;
  cursor: pointer;
  border: 1px solid #00ff88;
}

/* podcast styles */
.podcast {
  background-color: #1a0b2e;
}
.podcast-content {
  padding-top: 50px;
  color: white;
  text-align: center;
  max-width: 718px;
  margin: auto;
}
.podcast-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.podcast-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}
.podcast-content .subtitle {
  padding-bottom: 80px;
}
.podcast-container> hr {
  border: 1px solid #281641c0;
}
.podcast-analysis {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 80px;
  padding-bottom: 120px;
}
.analysis {
  justify-items: center;
}
.analysis h2 {
  color: #00ff88;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
}
.analysis p {
  color: white;
}

/* techwave styles */
.techwave {
  background-color: #270c4a;
  padding-bottom: 120px;
}
.techwave .title h2 {
  font-size: 48px;
  color: white;
  font-weight: 700;
  padding-top: 120px;
  padding-bottom: 40px;
  text-align: center;
}
.tech-wave-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  background-color: #370672;
  padding: 40px;
  border-radius: 40px;
  color: white;
}
.card h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}
.card-2,
.card-3,
.card-4 {
  grid-column: span 2;
}
.card-1 {
  justify-content: center;
  align-content: center;
  grid-row: span 2;
}

/* featured styles */
.featured {
  background-color: #1a0b2e;
  padding-top: 120px;
  padding-bottom: 120px;
}
.featured > h2 {
  color: white;
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}
.feature-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.feature-card {
  background-color: #370672;
  border-radius: 20px;
}
.videos > iframe {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.content {
  color: white;
  padding: 24px;
}
.content > h2 {
  font-size: 24px;
  font-weight: bold;
}
.content > p {
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}
.watch-time {
  display: flex;
  gap: 10px;
  align-items: center;
}
.watch-time > p {
  color: #00ff88;
}

/* host styles */
.host {
  background-color: #1a0b2e;
  padding-bottom: 120px;
  color: white;
}
.host > h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}
.host-profile {
  background-color: #370672;
  border-radius: 20px;
  display: flex;
  gap: 24px;
  padding: 40px;
  align-items: center;
}
.host-about > h2 {
  font-size: 32px;
  font-weight: bold;
}
.host-about > p {
  font-size: 16x;
  line-height: 24px;
  margin: 16px 0;
}
.media-container {
  display: flex;
  gap: 10px;
}
.media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid rgba(255, 217, 0, 0.463);
}

/* footer styles */
footer {
  background-image: url(../assets/footer-bg.png);
  background-size: contain;
  height: 400px;
}
.footer > h2 {
  font-size: 45px;
  padding-top: 120px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-bottom: 32px;
}
.link-container {
  max-width: 700px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.link {
  display: flex;
  gap: 8px;
}
.footer > p {
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 32px;
}

/*================== Responsive styles 576px =====================*/
@media screen and (max-width: 576px) {
  .hamburger-menu {
    display: block;
  }
  .menu,
  .nav-btn {
    display: none;
  }
  .brand h2 {
    font-size: 35px;
  }
/* =========== banner ========== */
  .banner {
    background-image: url(../assets/hero-bg.png);
    background-size: contain;
    height: 460px;
    background-repeat: no-repeat;
    background-position: 30% 30%;
  }

  .banner-img img {
    margin-top: 50px;
    width: 180px;
    top: 10%;
    right: 24%;
    text-align: center;
    position: absolute;
  }
  .img-2 img {
    width: 40px;
    position: absolute;
    top: 75%;
    right: 44%;
  }
  .tooltip {
    background-color: #00ff88;
    padding: 8px 18px;
    border-radius: 22px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 62%;
    right: 20%;
  }
  .banner-content {
    margin-top: 170px;
  }
  .banner-content h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .banner-content p {
    font-size: 16px;
    max-width: 400px;
    margin: 10px auto;
    margin-bottom: 24px;
  }

  /* ============== Podcast =============== */
  .podcast-container> hr {
    margin: 0 25px;
  }
  .podcast-content {
    max-width: 400px;
    margin: auto;
    padding-top: 0;
  }
  .podcast-content .subtitle {
    padding-bottom: 30px;
  }
  .podcast-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .podcast-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  .podcast p {
    margin-bottom: 10px;
  }
  .podcast-analysis {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    padding-bottom: 40px;
  }
  .analysis h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  /* ========== techwave ============ */
  .techwave {
    padding-bottom: 40px;
  }
  .techwave .title h2 {
    font-size: 32px;
    color: white;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
  }
  .card h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 16px 0;
  }
  .tech-wave-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .card {
    width: 90%;
    margin: 0 auto;
  }
  .card-width {
    width: 92%;
    margin-left: 30px;
  }
 /* =============== featured ============== */
  .featured {
    padding: 40px 0;
  }
  .featured > h2 {
    font-size: 32px;
  }
  .feature-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .feature-card {
    width: 90%;
    margin: 0 auto;
  }
/* ============== host ============= */
  .host {
    padding-bottom: 60px;
  }
  .host > h2 {
    padding-top: 40px;
    font-size: 32px;
  }
  .host-about > h2 {
    font-size: 24px;
  }
  .host-about > p {
    font-size: 14px;
    text-align: center;
  }
  .host-about {
    text-align-last: center;
  }
  .host-profile {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
  .media-container {
    justify-content: center;
  }
  /* ============ footer ============== */
  footer {
    border: none;
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 230px;
  }
  .footer > h2 {
    font-size: 32px;
    padding-top: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 15px;
  }
  .link-container {
    flex-wrap: wrap;
    max-width: 300px;
    gap: 15px;
  }
  .link {
    display: flex;
    gap: 8px;
  }
  .footer > p {
    font-size: 14px;
    margin-top: 15px;
  }
}
