/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-primary {
    font-size: 16px;
    padding: 12px 16px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius: 40px;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;

}

/* nav styles */
header {
    background-color:
#1A0B2E

}
nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.menu {
    display: flex;
    gap: 40px;
}
.brand h2 {
    font-size: 50px;
    font-weight: 800;

}
.brand .wave {
    color: rgb(252, 4, 132) ;
}
.menu li {
    list-style: none;
}
.hamburger-menu {
    display: none;
}



/* Responsive styles */
@media screen and (max-width: 576px) {
    .hamburger-menu {
        display: block;
    }
    .menu, .btn-primary {
        display: none;
    }
    .brand h2{
        font-size: 35px;
    }
}
